.redBG{
	background-color:#E64C4C;
}
.
.centerImg{
	text-align:center;
	width:auto;
	height:auto;
}
.white{
	color:#fff;
}
.red{
	color:#8d3333;
}
.fitText{
	width:90%;
	text-align:center;
	margin:0 auto;
}
.loginButton{
	background-color:#8d3333;
	color:#f78787;
	font-size:22px;
	font-weight:300;
	height:50px;
	line-height:50px;
}
.left{
	float:left;
}
.left1{
	float:left;
	margin-left:-10%;
}

.date-item{
	overflow:auto;
	height:60px;
	line-height:60px;
	display:block;
}
.date-item1{
	overflow:auto;
	height:60px;
	line-height:60px;
	display:block;
}
.date-item input{
	float:left;
	line-height: 60px;
	height:60px;
	width:18% !important;
}
.date-item1 input{
	float:left;
	line-height: 60px;
	height:60px;
	width:18.15% !important;
}
.boss{
	height:60px !important;
}
.date-item input:active{
	float:left;
	line-height:60px !important;
	width:18% !important;
}
.date-item1 input:active{
	float:left;
	line-height:60px !important;
	width:18% !important;
}
#dates ul{
	overflow:auto;
	padding:0;
}
.text_area{
	padding:0 0 0 30em;
}
 #circle {
	 overflow: auto;
      position: absolute;
      background-color: #00CC00;
      margin: 20px auto;
      width: 40px;
      height: 40px;
      border-radius: 20px;
    }
.list{
	float:left;
	display:block;
	overflow:auto;
	width:14%;
}
.list input{
	float:left;
	line-height: 60px;
	height:60px;
	width:14% !important;
}
 #circle1 {
	 overflow: auto;
	 float:left;
    position: absolute;
     background-color: #99FF33;
     margin: 20px auto;
     width: 40px;
     height: 40px;
     border-radius: 20px;
    }
#circle2 {
	 float:left;
	 overflow: auto;
     position: absolute;
     background-color: #FFFF00;
     margin: 20px auto;
     width: 40px;
     height: 40px;
     border-radius: 20px;
}
#circle2 {
	overflow: auto;
	 float:left;
     position: absolute;
     background-color: #FF9900;
     margin: 20px auto;
     width: 40px;
     height: 40px;
     border-radius: 20px;
}
#circle2 {
	 overflow: auto;
	 float:left;
     position: absolute;
     background-color: #FF0000;
     margin: 20px auto;
     width: 40px;
     height: 40px;
     border-radius: 20px;
}
.addNoteBtn{
	background-color:#8d3333;
	color:#FFFFFF;
	font-size:20px;
	font-weight:300;
	height:50px;
	line-height:50px;
	width:80%;
	text-align:center;
	margin:40px;
}
.tasks{
	background-color:#8d3333;
	font-size:20px;
	font-weight:300;
	height:50px;
	line-height:50px;
	width:80%;
	margin:40px;
}
#item_title {
  background-color:#8d3333 !important;
  min-width: 0;
  -webkit-box-flex: 1;
  white-space: nowrap;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;  
  }
  .margin_border{
	  margin-left:20px;
  }
.element{
	clear:both;
}
